<h2 class="text-center" style="margin-top: 20px;">Prescriptions pour <%= @patient.first_name %></h2><hr>

<% if current_user.tutor? %>
  <div>
  <%= link_to cam_patient_path(@patient.id) do%>
    <%= render "components/button_edit", content: "Nouvelle prescription" %>
  <% end %>
  </div>
<% end %>

<%= render "components/accordion_card", elements: @planifications %>
