	<main>
		<ul class="item-list">
			<li class="item1">
				<input type="radio" name="point" id="slide1" checked>
				<label for="slide1" class="label">
          <h4><img class="vignette" src="https://github.com/JossDPR/medimind/blob/5ce22c05dc1a27b8036eccd50ce7157b513a2f17/doliprane-1000mg-effervescent-1372663055.png?raw=true" alt="slay Cthulhu with code" />
					Doliprane 1000mg</h4>
          <span class="control"></span>
					<div class="slider ">
						<img sizes="(max-width: 589px) 100vw" src="https://github.com/JossDPR/medimind/blob/5ce22c05dc1a27b8036eccd50ce7157b513a2f17/doliprane-1000mg-effervescent-1372663055.png?raw=true" alt="slay Cthulhu with code" />
            <span>
              Doliprane 1000mg<br>
						  A prendre lors du repas, si douleurs.
            <span>
					</div>
				</label>
			</li>
			<li class="item2">
				<input type="radio" name="point" id="slide2">
				<label for="slide2" class="label">
          <h4><img class="vignette" src="https://github.com/JossDPR/medimind/blob/5ce22c05dc1a27b8036eccd50ce7157b513a2f17/doliprane-1000mg-effervescent-1372663055.png?raw=true" alt="slay Cthulhu with code" />
					Doliprane 1000mg</h4>
          <span class="control"></span>
					<div class="slider ">
						<img sizes="(max-width: 589px) 100vw" src="https://github.com/JossDPR/medimind/blob/5ce22c05dc1a27b8036eccd50ce7157b513a2f17/doliprane-1000mg-effervescent-1372663055.png?raw=true" alt="slay Cthulhu with code" />
            <span>
              Doliprane 1000mg<br>
						  A prendre lors du repas, si douleurs.
            <span>
					</div>
				</label>
			</li>
			<li class="item3">
				<input type="radio" name="point" id="slide3">
				<label for="slide3" class="label">
					<h4>Code challenges rise,<br>
						With Cthulhu's tentacles,<br>
						Codewars my fortress.</h4><span class="control"></span>
					<div class="slider ">
						<img sizes="(max-width: 589px) 100vw" srcset="
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_320.png 320w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_468.png 468w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_589.png 589w" src="https://lidachk.github.io/cssBayan/cssBayan/assets/item3_qsf05m_c_scale,w_589.png" alt=" Cthulhu's tentacles" />
					</div>
				</label>
			</li>
			<li class="item4">
				<input type="radio" name="point" id="slide4">
				<label for="slide4" class="label">
					<h4>
						Codewars and Cthulhu,<br>
						Strange bedfellows in the night,<br>
						Code warriors unite.</h4><span class="control"></span>
					<div class="slider ">
						<img sizes="(max-width: 589px) 100vw" srcset="
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item4_tegqz2_c_scale,w_320.png 320w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item4_tegqz2_c_scale,w_468.png 468w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item4_tegqz2_c_scale,w_589.png 589w" src="https://lidachk.github.io/cssBayan/cssBayan/assets/item4_tegqz2_c_scale,w_589.png" alt=" Codewars and Cthulhu" />
					</div>
				</label>
			</li>
			<li class="item5">
				<input type="radio" name="point" id="slide5">
				<label for="slide5" class="label">
					<h4>Mad skills on display<br>
						Cthulhu's code no match for me<br>
						Victory is mine</h4><span class="control"></span>
					<div class="slider ">
						<img sizes="(max-width: 589px) 100vw" srcset="
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item5_smyiw6_c_scale,w_320.png 320w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item5_smyiw6_c_scale,w_468.png 468w,
                        https://lidachk.github.io/cssBayan/cssBayan/assets/item5_smyiw6_c_scale,w_589.png 589w" src="https://lidachk.github.io/cssBayan/cssBayan/assets/item5_smyiw6_c_scale,w_589.png" alt="Cthulhu's code no match for me" />
					</div>
				</label>
			</li>
		</ul>
	</main>
