	<main>
		<ul class="item-list">
      <% elements.each do |element| %>
        <% if element.taken_date == nil %>
          <%= render "components/accordion_card_detail_takes", element: element %>
        <% end %>
      <% end %>
		</ul>
	</main>
