<div class="cardhisto">
  <div class="icon-container <%= 'nottaken' if element.taken_date.nil? %>">
  </div>
  <div class="message-text-container">
    <p class="message-text"><%= element.planification.medication.name %></p>
  </div>
</div>
