<div class="confirm">
  <i class="fa-solid fa-calendar-check"></i>
  <div>
    <h1>Médicament ajouté</h1>
    <p>Votre <strong>médicament</strong> a été ajouté à la liste de médicaments du jour </br>Voulez-vous <strong>confirmer</strong> votre action ?</p>
  </div>
  <div class="buttons_double">
    <button>Cancel</button>
    <button>Confirm</button>
  </div>
</div>
