<div class="dropdown_double default_card row">
  <div>
    <select class="form-control" id="dropdown-small">
        <option>Option</option>
        <option>Option #2</option>
        <option>Option #3</option>
    </select>
  </div>
  <div>
    <select class="form-control" id="dropdown-large">
        <option>Option</option>
        <option>Option #2</option>
        <option>Option #3</option>
    </select>
  </div>
</div>
