<div class='container' data-controller="flipbox">

  <div class='flip_box' data-flipbox-target="flipBox">

    <div class='front'>
      <p class='f_title'>Doliprane</p>
      <p class='f_subline'>1 Comprimé</p>
      <h1 class='f_headline'>Avant le repas</h1>
      <div class='r_wrap'>
        <div class='b_round' data-flipbox-target="bRound"></div>
        <div class='s_round' data-flipbox-target="round">
          <div class='s_arrow' data-flipbox-target="arrow"></div>
        </div>
      </div>
    </div>

    <div class='back'>
      <h1 class='b_headline'>Done</h1>
      <p class='b_text'>Médicament pris</p>
    </div>

  </div>

  <%# <div class='r_wrap'>
    <div class='b_round' data-flipbox-target="bRound"></div>
    <div class='s_round' data-flipbox-target="round">
      <div class='s_arrow' data-flipbox-target="arrow"></div>
    </div>
  </div> %>

</div>
