<% @patients.each do |patient| %>
  <%= link_to patient_planifications_path(patient) do %>
    <div class="default_card">
      <h2 class="patient-full-name"><%= "#{patient.first_name} #{patient.last_name}" %></h2>
      <hr>
      <i class="fa-solid fa-circle-right"></i>
    </div><br>
  <% end %>
<% end %>
