// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$dark-gray: #3a3939c7;
$light-gray: #F4F4F4;
$white: #ffffff;

$primary: #3ca188;
$secondary: #79D8D7;
$tertiary: #60CBB0;

$background_color: #DEEFF0;
$navbar_color: #06ADE7;
$navbar_open_color: #60CBB0;

$color1: #60CBB0;
$button_color: #06ADE7;
$button_border_color: $tertiary;
$button_active_color: $tertiary;

$medic_card_front: white;
$medic_card_back: #D21849;

$take0: #F9DEDC;
$take1: #DCFFD7;

$backgroundcolor_histo_taken: #04e40048;
$backgroundcolor_histo_not_taken: #fc0c0c48;
