// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$dark-gray: #3a3939c7;
$light-gray: #F4F4F4;
$white: #ffffff;

$primary: #06ADE7;
$secondary: #79D8D7;
$tertiary: #60CBB0;

$background_color: #DEEFF0;
$navbar_color: #06ADE7;
$navbar_open_color: #60CBB0;

$color1: #60CBB0;
$button_color: #06ADE7;
$button_border_color: #06ADE7;
$button_active_color: #0387b3;

$medic_card_front: white;
$medic_card_back: #D21849;
