<h1>Tutor#home</h1>
<p>Find me in app/views/users/home.html.erb</p>


<h3>Liste des patients</h1>

<% @patients.each do |patient| %>
  <%= link_to "#{patient.first_name} #{patient.last_name}", patient_planifications_path(patient) %><br>
<% end %>

<%= link_to "Ajouter un patient", new_patient_path %>
