<br><h1 class="text-center">Liste des patients</h1><br>

<%= render "components/patient_card" %>

<%= link_to new_patient_path do %>
  <%= render "components/button_add_patient", content: "Ajouter patient" %>
<% end %>
