<h1 class="text-center pt-4 pb-4">Liste des patients</h1>

<%= render "components/patient_card" %>

<%= link_to new_patient_path do %>
  <%= render "components/button_add_patient", content: "Ajouter patient" %>
<% end %>
