<h1>Medications#edit</h1>
<p>Find me in app/views/medications/edit.html.erb</p>

<%= render "form", medication: @medication %>

<div>
  <%= link_to "Show this medication", @medication %> |
  <%= link_to "Back to all medications", medications_path %>
</div>
