<div class="custom-confirm">
  <strong><i class="fa-solid fa-pills custom-icon"></i></strong>
  <h1>Nouveau médicament</h1>

  <div data-controller="camera-patient", data-camera-patient-url-value=<%="#{ patient_takes_path(@patient)}"%>>
    <div class="selfie-container" >
      <video class="selfie-video" data-camera-patient-target="cameraScreen"></video>
    </div>

    <div class="buttons_double" data-camera-patient-target="buttonsLvl1">
        <button data-action="click->camera-patient#stopPhotoAndBack" data-url="<%= patient_takes_path(@patient) %>" ><i class="fa-solid fa-chevron-left"></i> Retour</button>
        <button data-action="click->camera-patient#photo"><i class="fa-solid fa-camera"></i> Photo</button>
    </div>
    <div class="buttons_double d-none" data-camera-patient-target="buttonsLvl2">
        <button data-action="click->camera-patient#retakePhoto" data-url="<%= patient_takes_path(@patient) %>"><i class="fa-solid fa-camera"></i> Reprendre</button>
        <button data-action="click->camera-patient#validatePhoto" data-url="<%= patient_takes_path(@patient) %>"><i class="fa-solid fa-camera"></i> Valider</button>
    </div>
  </div>
</div>
