.custom-confirm {
  height: auto;
  animation: fade 1s ease 1 forwards;
  display: block;
  overflow: auto;
  width: -webkit-fill-available;
  border-radius: 10px; /* Exemple de valeur */
  border: 2px solid #B4B4B4; /* Exemple de couleur */
  background-color: #FFFFFF; /* Exemple de couleur */
  box-shadow: 2px 12px 10px 1px rgba(0, 0, 255, .1);
  text-align: center;
  padding-top : 10px;
}

.custom-confirm h1 {
  margin: 0 2rem 2rem;
  color: $navbar_open_color;
}

.custom-confirm p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 25% auto;
}

.custom-confirm button {
  background: transparent;
  border: none;
  color: $navbar_open_color; /* Exemple de couleur */
  height: 3rem;
  font-size: 1rem;
  width: 50%;
  bottom: 0;
  cursor: pointer;
}

.custom-confirm button:nth-of-type(1) {
  border-top: 1px solid #B4B4B4;
  border-right: 1px solid #B4B4B4;
}

.custom-confirm button:nth-of-type(2) {
  border-top: 1px solid #B4B4B4;
}

.custom-confirm button:focus,
.custom-confirm button:hover {
  font-weight: bold;
  background: $navbar_open_color; /* Exemple de couleur */
  color: #FFFFFF; /* Exemple de couleur */
}

.custom-confirm button:active {
  background: $navbar_open_color; /* Exemple de couleur */
  color: #FFFFFF; /* Exemple de couleur */
}

.buttons_double {
  display: flex;
}

.custom-icon {
  font-size: 48px;
  color: $navbar_open_color;
  margin-bottom: 10px;
}
