.toggle-label {
  color: black;
  font-weight: normal;
  cursor: pointer;
}

/* Style activé pour le label */
.toggle-label.checked {
  color: $secondary;
  font-weight: bold;
}

// .labels {
//   display: inline-flex;
//   flex-direction: row;
//   width: auto;
//   padding: 5px 15px;
//   border: 2px solid $button_border_color;
//   background-color: $primary;
//   color: #ffffff;
//   font-size: 1rem;
//   cursor: pointer;
//   border-radius: 30px;
//   transition: all 0.4s ease;
//   outline: none;
//   position: relative;
//   overflow: hidden;
//   font-weight: bold;
//   text-align: center;
//   margin: 12px;
// }

// .form-check {
//   display: contents;
// }
