.form_card {
  display: block;
  overflow: auto;
  width: -webkit-fill-available;
  border-radius: $border-radius-xl;
  border: 2px solid $secondary;
  background-color: $white;
  box-shadow: 2px 12px 10px 1px rgba(0, 0, 255, .1);
  // margin: 16px;
  padding: 16px;
    h1 {
      text-align: center;
    }
}
