// @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$cyan-color: $navbar_open_color;
$dark-color: #2a3255;

*{
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

%transition{
    opacity: 0;
    transition: 0.3s ease-in all;
}

%opacity{
    opacity: 1;
    transform: translateY(10px);
}

%hover{
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background-color: $dark-color;
    left: 0;
    border-radius: 2px;
    transition: 0.3s ease all;
}

%flex-stack{
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  img {
    height: 40px;
  }
}

.header-text {
  flex: 1;
  text-align: center;
  color: $cyan-color;
  font-size: 2rem;
  top: 25px;
  font-weight: 600;
  padding-top: 20px;
}

.burger{
    position: absolute;
    top: 25px;
    right: 25px;
    color: $cyan-color;
    cursor: pointer;
    z-index: 1;
    display: flex;
    i{
        &:nth-of-type(1){
            display: block;
        }
        &:nth-of-type(2){
            display: none;
        }
    }
    &.burger-open{
        color: $dark-color;
        i{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: block;
            }
        }
    }
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $cyan-color;
    clip-path: circle(0px at 0 0px);
    transition: 0.5s ease all;
    .nav-links{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li{
            list-style-type: none;
            margin: 3rem 0;
            &:nth-of-type(1){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.25s;
                }
            }
            &:nth-of-type(2){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.35s;
                }
            }
            &:nth-of-type(3){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.45s;
                }
            }
            &:nth-of-type(4){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.55s;
                }
            }
            &:nth-of-type(5){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.65s;
                }
            }
            a{
                text-decoration: none;
                color: $dark-color;
                font-size: 2.4rem;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1px;
                &::before{
                    @extend %hover;
                    top: -2px;
                }
                &::after{
                    @extend %hover;
                    bottom: -5px;
                }
                &:hover::before{
                    width: 100%;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
    }
    &.nav-open{
        display: block;
        clip-path: circle(100%);
    }
}
